name: Commit Lint

on:
  pull_request:

jobs:
  commitlint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0   # 必须，才能拿到完整 commit history

      - name: Lint commits
        uses: wagoid/commitlint-github-action@v6
